{{define "title"}}🐮MS: Register{{end}}

{{define "main"}}
<h2>Register for an account</h2>

<form action="/register" method="POST">
    <label>
        Farm name:
        <input
            name="clientname"
            type="text"
            value=""
            required
        >
    </label>
    <br>
    <br>
    <label>
        Username:
        <input
            name="username"
            type="text"
            value=""
            required
        >
    </label>
    <br>
    <br>
    <label>
        Password:
        <input
            name="password"
            type="password"
            value=""
            minlength="8"
            required
        >
    </label>
    <br>
    <br>
    <button type="submit">Register</button>
    <a href="/">Cancel</a>
</form>
{{end}}
